<html>
        <head>
                <title>About Hospital.....</title>
       </head>
       <body>
               
               <h1 align="center" hight="90px",width="100px"><b><u>About Hospital.....</u></b></h1>
               
             
               <h1 align="left" hight="60px",width="60px"><b><u>United Hospital LTD</b></u></b></h1>
               <p>UNITED HOSPITAL LIMITED
Opening its doors in August 2006 and situated beside the picturesque Gulshan Lake, this hospital is one of the largest private sector healthcare facilities in Bangladesh. United Hospital has the capacity to house over 500 patients and has 12 state of the art operation theatres to cater to the needs of varied patient base.</p>
               

               <h1 align="left" hight="70px",width="70px"><b><u>Contact info:</u></b></h1>
               <p>Plot 15, Road 71, Gulshan, Dhaka-1212 Bangladesh

Fax: +88 02 8836446<br>Email: info@uhlbd.com<br>Email:Drabidhaque@gmail.com</p>
 
    
<td><a href="CEOhome.php"><li>BACK HOME PAGE</li></a></td> 


                        


               </ol>

       </body>
</html>