<html>
<head>
	<title>Doctors list....</title>
</head>
<body>

	<br><br>
	<table border="1">
		<legend><u>Doctor list:</u></legend>
				   <br><br><center><h4><a href="CEOhome.php">Back</a><h4></center> 
                <center><h4><a href="Login.html">Logout</a><h4></center> 
		
		<tr>
			<td>No</td>
			<td>Name</td>
			<td>Password</td>
			<td>Email</td>
					<td>salary</td>
                <td>contact</td>
                <td>Room</td>


			<td>Action</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Dr.Sijan</td>
			<td>123</td>
			<td>fkr@gmail.com</td>
			<td>90,000</td>
			<td>016393****</td>
			<td>101</td>
			<td>
				<a href="edit.html">Update</a> |
				
				
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Dr.asif</td>
			<td>098</td>
			<td>liya@gmail.com</td>
			<td>90,700</td>
			<td>016386****</td>
			<td>109</td>
			<td>
				<a href="edit.html">Update</a> |
			
			</td>
			<tr>
			<td>3</td>
			<td>Dr.Tonny</td>
			<td>143</td>
			<td>flr@gmail.com</td>
			<td>80,000</td>
			<td>056393****</td>
			<td>102</td>
			<td>
				<a href="edit.html">Update</a> |
				
			</td>
				<tr>
			<td>4</td>
			<td>Dr.Tuhin</td>
			<td>103</td>
			<td>kkr@gmail.com</td>
			<td>91,000</td>
			<td>016003****</td>
			<td>109</td>
			<td>
				<a href="edit.html">Update</a> |
			
			</td>

				
		
		</tr>
		
		
	</table>
	
</body>
</html>