

<html>
<head>
	<title>Stuff schedule</title>
</head>
<body>

	
         <fieldset>
                      <h1>  <legend>Stuff schedule-2022</legend></h1>
           
		<table border="5">
            <tr>
			<td>Stuff name</td>
                
            <td>Sunday</td>
                <td>Monday</td>
                 <td>Tuesday</td>
                 <td>Wednesday</td>
                 <td>Thursday</td>
            </tr>
					
				<tr>		
           <td>Head Nurse-Fahma,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
            </tr>
                <tr>        
           <td>ASS Head Nurse-Moly,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
            </tr>       <tr>        
           <td>ADAM,Dental unit</td>
         <td>3:00pm-11:00am</td>
                    <td>8:00Am-12:00pm</td>
                    <td>9:00Am-12:00pm</td>
                    <td>6:00Am-12:00pm</td>
                    <td>4:00Am-12:00pm</td>
            </tr>       <tr>        
           <td>Amil,card unit</td>
         <td>6:00Am-11:00pm</td>
                    <td>5:00Am-12:00pm</td>
                    <td>6:00Am-12:00pm</td>
                    <td>7:00Am-12:00pm</td>
                    <td>8:00Am-12:00pm</td>
            </tr>       <tr>        
           <td>ADIK,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>7:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
                    <td>9:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
            </tr>
                   <td>Mell,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>7:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
                    <td>9:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
            </tr>       <td>Japish,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>7:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
                    <td>9:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
            </tr>       <td>Istak,card unit</td>
         <td>3:00Am-11:00pm</td>
                    <td>7:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
                    <td>9:00Am-8:00pm</td>
                    <td>8:00Am-8:00pm</td>
            </tr>
                      
		  <h4><a href="CEOhome.php">Back</a><h4></center> </i>
                <h4><a href="Login.html">Logout</a><h4></center> </i> 
	</form>
</body>
</html>