

<html>
<head>
	<title>TAX FILE</title>
</head>
<body>

	
         <fieldset>
                      <h1>  <legend>TAX FILE-2021-2022</legend></h1>
              <i>  <center><h4><a href="CEOhome.php">Back</a><h4></center> </i>
               <i>  <center><h4><a href="Login.html">Logout</a><h4></center> </i> 
		<table border="5">
            <tr>
			<td>Year</td>
                
            <td>Old tax regime</td>
                <td> Total income</td>
                 <td>New tax regime</td>
            </tr>
					
				<tr>		
           <td>2021</td>
         <td>Nil</td>
                    <td>Up to tk 2.5lAKH</td>
                    <td>Nil</td>
            </tr>
            <tr>
           <td>2021</td>
                <td>5%</td>
                <td>From tk 2,50,001 to tk 5 lakh</td>
                <td>5%</td>
            </tr>
                
            <tr>
                <td>2022</td>
                <td>10%</td>
                <td>From tk 5,50,001 to tk 7.5 lakh</td>
                <td>10%</td>
            </tr>
            <tr>
               <td>2022</td>
                <td>15%</td>
                <td>From tk 5,50,001 to tk 7.5 lakh</td>
                <td>15%</td>
                
            </tr>
            <tr>
                <td>2022</td>
                <td>20%</td>
                <td>From tk 7,50,001 to tk 9.5 lakh</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>25%</td>
                <td>From tk 8,50,001 to tk 10.5 lakh</td>
                <td>25%</td>
            </tr>
            <tr> 
                <td>2022</td>
                <td>30%</td>
                <td>From tk 9,50,001 to tk 11.5 lakh</td>
                 <td>30%</td>
            </tr>
            
                      
		
	</form>
</body>
</html>