<html>
        <head>
                <title>CEO profile</title>
				
       </head>
       <body>
               
               <h1 align="center" hight="90px",width="100px"><b><u>CEO Profile </u></b></h1>
               
             
               <h1 align="left" hight="60px",width="60px"><b><u>Career object:</u></b></h1>
               <p>Dr.Abid Haque is one of Bangalore’s most renowned cardiothoracic surgeons and Considered among the top 10 cardiologists in India. Dr Shetty has over 35 years of expertise and has performed over 15,200 heart procedures, 4900 of which were on childrenAs an expert in the field of Cardiac Surgery, Dr. Shetty is invited by the National Board of Examinations to officiate as an independent examiner for the fellowship students in Cardiac Surgery and in the evaluation of institutions as training centres for CardioThoracic Surgeons.

Dr. Shetty conceived the idea of micro health insurance to address the need of making healthcare affordable to the weaker sections of society. The program, named ‘Yeshaswini Micro Health Insurance’, allows people to pay a small premium per month and have access to over 800 surgical procedures when needed in over 400 network hospitals across the state..</p>
               
                <img src="../asset/xl.png" align="right" hight="300px" width="200px">



               <h1 align="left" hight="70px",width="70px"><b><u>Contact info:</u></b></h1>
               <p>Name:Dr.Abid Haque <br>Current Address:India,Mumbai<br>PhoneNo: 0********<br>Email:Drabidhaque@gmail.com</p>

               <h1 align="left" hight="70px",width="70px"><b><u>Personal info:</u></b></h1>
               <p>Father’s Name:Md.JOLLY <br>Mother’s Name:MRS.RIA<br>Nationality:INDIAN<br>Date of birth:26th Nov,1970<br>Religion:Islam<br>Blood group:A<sup>+ve</sup><br>Marital status:married<br>Permanent Address:Uttara,uttarkhan,Dhaka-1230</p>


               <h1 align="left" hight="70px",width="70px"><b><u>Education and qualifications:</u></b></h1>
               <table border="1">
                         <tr>
                              <td>No</td>
                              <td>Certificate</td>
                              <td>Board</td>
                              <td>Institution</td>
                              <td>Year</td>
                              
                         </tr>

                          <tr>
                              <td>1</td>
                              <td>MBBS </td>
                              <td>BANGOLARE</td>
                              <td>KASTURBA MEDICAL COLLAGE </td>
                              <td>1979</td>
                              
                         </tr>

                         <tr>
                              <td>2</td>
                              <td>MS (General Surgery)</td>
                              <td>BANGOLARE</td>
                              <td>KASTURBA MEDICAL COLLAGE</td>
                              <td>1982</td>
                              
                         </tr>
                         <tr>
                              <td>3</td>
                              <td>FRCS</td>
                              <td>ENGLAND</td>
                              <td>ROYAL COLLAGE OF SURGEONS</td>
                              <td>1990</td>
                              
                         </tr>



               </table>





               


               <h1 align="left" hight="70px",width="70px"><b><u>Area of Expertise:</u></b></h1>
               <ol>
                    <li>Paediatric cardiac surgery, Valve Repairs in infants and children</li>
                    <li>Redo Heart Surgery</li>
                    <li>Pulmonary Endarterectomy, Ross procedure</li>
               </ol>
			    <h1 align="left" hight="70px",width="70px"><b><u>Work exprience:</u></b></h1>
               <ol>
                    <li>Senior consultant cardiac surgeon – B M Birla Heart Research Centre, Kolkata, India 1989-1996.</li>
                    <li>Senior Consultant Cardiac Surgeon – Manipal Heart Foundation, Bangalore, India 1996-2001.</li>
                    <li>Founder, Chairman and Senior Consultant, Cardiac Surgery, Narayana Health, Bangalore, India – 2001 till date.   </li>
               </ol>
        
        
               <h1 align="left" hight="70px",width="70px"><b><u>Awards & Recognition:</u></b></h1>
               <ol>
                    <li>Lifetime Achievement – Clinical Care (Gold), 2018.</li>
                    <li>Lifetime Achievement – Public Leadership (Gold), 2018.</li>
					 <li>Dr. Ida S. Scudder Humanitarian Oration, 2015.</li>
                    <li>Doctor of Science from Indian Institute of Technology, Madras, 2014.</li>
					 <li>Nikkei Asia Prize in the category of Economic and Business Innovation 2014 in Tokyo.</li>
                    <li>FT Arcelor Mittal Boldness in Business Awards 20th March 2013.</li>
					 <li>Padma Bhushan – 2012 (Third Highest Civilian Award conferred by the Government of India).</li>
                    <li>The President’s Award by Minnesota Chapter 2011.</li>
					 <li>Social Entrepreneurship Award – World Economic Forum – 2005.</li>
                    <li>Rajyotsava Award – 2002</li>
               </ol>


               </ol>
<td><a href="CEOhome.php"><li>BACK HOME PAGE</li></a></td>
       </body>
</html>