
<html>
<head>
	<title>UPADATE PAGE</title>
</head>
<body>

	<form method='POST' action="../controller/editcheck.php">
		  <table border="3" align="center" width="700px" height="330px">

             <br><br><center><h4><a href="delete.html">Back</a><h4></center> 
			 <center><h4><a href="Login.html">Logout</a><h4></center> 

                <tr>
                    <td align="center">
                        <legend><b>UPDATE FORM INFO</b></legend><br>
			
			        <table>
			       
				       
				        <tr>
					      <td><b>Userid:</b></td>
				          <td><input type="text" name="userid" value=""></td>
				        </tr>
				        
				        
				       <tr>
					      <td><b>Username:</b></td>
				          <td><input type="text" name="username" value=""> *enter atleast two words</td>
				        </tr>
                
                         <tr>
					        <td><b>Password:</b></td>
					        <td><input type="password" name="password" value=""></td>
				        </tr>

				        <tr>
					        <td><b>Email:</b></td>
					        <td><input type="email" name="email" value=""></td>
				        </tr>
                        <tr>
					        <td><b>Salary:</b></td>
					        <td><input type="salary" name="salary" value=""></td>
							
				        </tr>
                 
                        </tr>
                        <tr>
                           <td><b>contact:</b></td>
                           <td><input type="text" name="add" value=""></td>
                       </tr>
                       <tr>
                        <tr>
					        <td><b>Room no:</b></td>
					        <td><input type="Room" name="Room" value=""></td>
				        </tr>
                       <tr>
					        <td colspan="2"><input type="Submit" name="edit" value="Submit">
                                 
                            </td>
					        
					        
					        
				        </tr>
			         </table>
                    </td>
                </tr>
            </table>

	</form>
</body>
</html>